.box {
  display: block;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  width: 400px;
}

.box-name {
  position: absolute;
  z-index: 2;
  left: 10px;
  top: 10px;
  font-size: 14px;
  color: #fff;
  background: #f9014d;
  border-radius: 5px;
  padding: 5px 10px;
}

.box-cover {
  font-size: 0;
  line-height: 1em;
}

.box-cover img {
  width: 100%;
  transform: scale(1.1);
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -webkit-transform: scale(1.1);
}

.box-detalhes:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: -20px;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .8;
  visibility: hidden;
  background: linear-gradient(to bottom, transparent, #000);

  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  transform: translate(0, 50%);
  -webkit-transform: translate(0, 50%);
}

.box-detalhes {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 15px;
  color: #fff;
  font-size: 15px;
}

.box-detalhes-info {
  position: relative;
  z-index: 2;
  opacity: 0;
  visibility: hidden;

  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  transform: translate(0, 50%);
  -webkit-transform: translate(0, 50%);
}

.box-detalhes-info h1 {
  font-size: 20px;
}

.box:hover .box-cover img {
  transform: scale(1.0);
  -webkit-transform: scale(1.0);
}

.box:hover .box-detalhes:before,
.box:hover .box-detalhes-info {
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
}
