*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: 'Open Sands', sans-serif;
  font-size: inherit;
}

button,
iframe,
input,
select {
  border: none;
  font-family: 'Open Sands', sans-serif;
  font-size: inherit;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}

.fl-left{float: left;}
.fl-right{float: right;}