/* Reset */
/* -------------------------------------------------- */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: 'Open Sands', sans-serif;
  font-size: inherit;
}

button,
iframe,
input,
select {
  border: none;
  font-family: 'Open Sands', sans-serif;
  font-size: inherit;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #f9014d;
}

img {
  max-width: 100%;
  border: none;
}
/* GERAL */
/* -------------------------------------------------- */
.row {
  float: left;
  width: 100%;
}

.section {
  float: left;
  width: 100%;
}

.section-header {
  margin-top: 40px;
  text-align: center;
  font-size: 20px;
}

.section-header h1 {
  font-size: 38px;
  font-weight: normal;
}

.content {
  max-width: 960px;
  width: 90%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.fl-left {
  float: left;
}

.fl-right {
  float: right;
}